.pre {
    font-family: Arial, sans-serif;
    margin-bottom: 5px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.category {
    background-color: #f2f2f2;
    padding: 10px;
    margin: 0;
    cursor: pointer;
    border-bottom: 1px solid #ee0e0e;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: left;
    min-width: inherit;
}
.category.active {
    background-color: #ccc;
}
.category .arrow {
    transition: transform 0.3s ease;
}
.menu {
    
    display: none;
    padding-left: 40px;
    font-size: large;
}
.menu-item {
    margin-bottom: 5px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer {

    border: #ee0e0e;
    border-radius: 1;
    border-top: #ee0e0e;
    border-color: #ee0e0e;
    padding: 10px;
    text-align: center;

}

@media only screen and (max-width: 600px) {
    /* Adjust the width of the categories and menu items */
    .category {
      width: 100%;
      margin-bottom: 10px;
      align-content: space-between;
    }
    .menu {
      width: 100%;
      margin-bottom: 10px;
      align-content: space-between;
    }
    /* Center-align text in menu items */
    .menu-item {
      text-align: left;
      padding-left: 10px; /* Add some left padding for better readability */
    }
    /* Ensure pre tags wrap on smaller screens */
    .pre {
      white-space: pre-wrap;
      text-align: center;
    }
    
  }